.flex {
  display: flex;
  flex-wrap: wrap;

  &_spbw {
    justify-content: space-between;
  }
  &_jsc {
    justify-content: center;
  }
  &_col {
    flex-direction: column;
  }
  &_slide {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
