$Lato: 'Lato', sans-serif;
$Roboto: 'Roboto', sans-serif;
$PT-Serif: 'PT Serif', serif;

h1, .h1 {
  font: 300 48px/24px $Roboto;
  letter-spacing: .1em;

  @media screen and (max-width: 1024px) {
   font-size: 36px;
  }
}
h2, .h2 {
  font: 300 18px/24px $Roboto;
}
h3, .h3 {
  font: 500 28px/24px $Roboto;
}
h4, .h4 {

}
h5, .h5 {

}
h6, .h6 {

}
