// color
$gray: #777777;
$black: #000;
$white: #fff;

// font-size
$font-size: 16px;

// size layout

$from-mobile: 540px;

$from-tablet: 768px;

$from-S-desktop: 999px;

$from-M-desktop: 1280px;

$from-L-desktop: 1480px;

$from-XL-desktop: 1920px;

$from-XXL-desktop: 1920px;