.header {
  margin: rem(30px) 0;

  @media screen and (max-width: 999px) {
    margin: rem(20px) 0;
  }

  &__r {
    @media screen and (max-width: 999px) {
      display: none;
    }
  }

  &__m {
    display: block;
    @media screen and (min-width: 1000px) {
      display: none;
    }
  }
}

.nav__list {
  display: flex;

  li {
    &:not(:last-child) {
      margin-right: rem(45px);
    }
  }
}


//header menu-mobile

.header-media {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  background: rgba(0, 0, 3, .9);
  z-index: -1;
  transition: opacity .375s ease-out;

  @media screen and (min-width: 1000px) {
    display: none;
  }

  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity .25s ease-in;
    z-index: 3;
  }

  &-wrapper {
    .nav {
      display: flex;
      justify-content: center;
      align-items: center;

      &__list {

        flex-direction: column;

        li {
          margin-right: 0;
          &:not(:last-child) {
            margin-bottom: rem(20px);
          }
        }
        
        .link {
          font-size: 24px;

          &:before {
            background-color: $white;
          }

          &:hover {
            color: $white;
          }
        }
      }
    }
  }
}

.menu-open {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;

  &.active {
    z-index: 3;
    .fa {
      background: $white;
      &:nth-child(1) {
        transform: rotate(-45deg);
        transition: transform .3s ease;
        top: 15px;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(45deg);
        transition: transform .3s ease;
        top: 15px;
      }
    }
  }
}

.fa {
  position: absolute;
  width: 20px;
  height: 2px;
  background: $black;
  left: 0;
  right: 0;
  margin: 0 auto;


  &:nth-child(1) {
    top: 8px;
  }
  &:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  &:nth-child(3) {
    bottom: 8px;
  }
}