.info {
  &__main {
    margin-top: rem(30px);
    padding-bottom: rem(55px);
    display: grid;
    grid-gap: 3%;

    @media screen and (max-width: $from-tablet) {
      grid-gap: 1%;
    }
  }
  &__block {
    display: grid;
    grid-gap: 2%;

    @media screen and (max-width: $from-tablet) {
      padding-bottom: rem(30px);
      grid-gap: 1.75%;
    }
    
    &:nth-child(2n+1) {
      grid-template-columns: 1fr 1.5fr 1fr;

      @media screen and (max-width: $from-tablet) {
        grid-template-columns: 1fr;
      }

    }
    &:nth-child(2n) {
      grid-template-columns: 2fr 1.5fr 1fr;

      @media screen and (max-width: $from-tablet) {
        grid-template-columns: 1fr;
      }

    }
  }
}

.info__main_item {
  position: relative;
  width: 100%;
  height: 300px;
  background: #ccc;
  overflow: hidden;

  &:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 2;
    transition: background .35s ease;
  }
  &:hover {
    .info__main_img {
      transform: scale(1.2);
      transition: all .25s ease-in;
    }
    .info__main_text {
      opacity: 1;
      transition: all .35s ease-in;
    }

    &:before {
      background: none;
      transition: background .35s ease;
    }
  }
}

.info__main_picture {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.info__main_img {
  transform: scale(1);
  transition: all .25s ease-out;
  width: 100%;
  height: 100%;
}
.info__main_text {
  position: absolute;
  font: 700 20px/24px $Roboto;
  color: $black;
  bottom: rem(25px);
  left: rem(10px);
  text-transform: uppercase;
  opacity: 0;
  transition: opacity .25s ease-out;
}