.intro {
  &-wrapper {
    width: 100%;
    height: 700px;
    display: block;
  }
}

.main-background {
  position: relative;
  display: block;
  padding-bottom: 40%;

  @media screen and (max-width: $from-mobile) {
    padding-bottom: 100%;
  }

  &-item {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.back-h1 {
  padding: rem(15px) rem(35px);
  color: $white;
  text-transform: uppercase;
  background: black;
  text-align: center;
  
  @media screen and (max-width: $from-mobile) {
    padding: rem(10px) rem(18px);
  }
}
.back-h2 {
  margin-top: rem(30px);
  letter-spacing: .4em;
  text-transform: uppercase;
  text-align: center;
}
