.intro {

}

.main-background {
  position: relative;
  display: block;
  padding-bottom: 40%;

  &-item {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.back-h1 {
  padding: rem(15px) rem(35px);
  color: $white;
  text-transform: uppercase;
  background: black;
}
.back-h2 {
  margin-top: rem(30px);
  letter-spacing: .4em;
  text-transform: uppercase;
}