@charset "UTF-8";
@import "reset.scss";
@import "swiper.css";

body {

}
.page-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: 320px;
	overflow: hidden;
}