//size

.wrapper {
  position: relative;
  width: calc(100% - 10%);
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    width: calc(100% - 20%);
  }
}

.margin-top {
  margin-top: rem(70px);
}